.business-attr{
  display: inline-block;
  width: 97%;
  border-bottom: 1px solid lightgrey;
  padding: 0 0 20px;
}

.show-attribute-list{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.attribute-heading{
  width: 100%;
  margin: 10px 0;
  font-size: 18px;
}

.all-attributes-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  justify-content: space-between;
  margin: 0 10px;

}

.attribute-categories-container{
  width: 50%;
  margin: 10px 0;
  line-height: 1.35;
}

.category{
  margin: 7px 0;
}