.business-review-list{
  display: inline-block;
  width: 585px;
  height: 100%;
}

.business-review-item{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid lightgray;
  padding: 0 0 15px 0;
}

.user-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 200px;
  height: 120px;
}

.username{
  display: flex;
  width: 100px;
  line-height: 1.4;
  font-weight: 550;
  font-size: 15px;
  position: relative;
  top: 10px;
}

.review-item-details{
  display: flex;
  flex-direction: column;
  flex-grow: initial;
  margin: 0 auto;
  width: 350px;
}

.user-rating-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  left: 10px;
}

.review-body{
  margin: 8px 6.5px 0;
  min-height: 75px;
  padding: 5px;
}

.review-index-button-container{
  height: 40px;
}

.review-form-container-update{
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 93%;
  justify-content: space-between;
  border-radius: 3px;
  background-color: transparent;
}

.ratings-selection-update{
    flex-direction: column;
    width: 200px;
    height: 30px;
}

.form-buttons{
  position: absolute;
  bottom: 1px;
  left: 119px;
}