// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-img-src{
  width: 100%;
  height: 100%;
}

.business-img-src{
  width: 100%;
  height: 100%;
}

.logo-img-src{
  width: 100%;
  height: 100%;
}

.session-img{
  display: flex;
  width: 29%;
  height: 22%;
  position: relative;
}

.session-img-src{
  display: flex;
  width: 100%;
  position: relative;
}

.splash-img{
  display: flex;
  position: relative;
  width: 100%;
  height: 600px;
  z-index: 1;
}

.splash-img-src{
  width: 100%;
  position: relative;
  z-index: inherit;
}

.business-review-images-container{
  width: 100%;
  margin: 40px 0;
  height: 370px;
  margin: 40px 0;
}

.business-review-images{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.review-image{
  display: flex;
  height: auto;
}

.review-img-src{
  width: 100%;
  height: auto;
}