.nav-container{
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #67b4e0;
  box-shadow: 0 0 7px 0 grey;
  margin: 0 0 4px 0;
  z-index: 2;
  position: sticky;
  top: 0;
}

.nav-bar {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}

.logo {
  display: inline;
  justify-content: center;
  color: #452487;
  font-size: 50px;
  font-family: impact, fantasy;
  font-weight: 1000;
  margin: 15px auto;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.session-buttons {
  float: left;
  width: 325px;
  margin: 20px;
  font-family: inherit;
}

.session-buttons a{
  justify-content: right;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px;
  border: solid white 2px;
  font-family: inherit;
  color: #452487;
  border-radius: 4px;
}

.session-buttons button{
  justify-content: right;
  margin-right: 5px;
  font-size: 18px;
  font-weight: 700;
  font-family: inherit;
  padding: 10px;
  border: solid white 2px;
  color: #452487;
  border-radius: 4px;
  background-color: transparent;
}

.session-buttons a:hover{
  transition-duration: 1s;
  color: #67b4e0;
  background-color: white;
}

.session-buttons button:hover{
  transition-duration: 1s;
  color: #67b4e0;
  background-color: white;
}