.nav-bar {
  display: inline-block;
  width: 100%;
  padding: 20px;
  background-color: #6391db;
}

.logo {
  display: flex;
  justify-content: center;
  color: #452487;
  font-size: 50px;
  font-family: impact, fantasy;
  font-weight: 1000;
	-webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: white;
}

.session-buttons {
  display: none;
}

