.session-container{
  display: block;
  width: 380px;
  height: 100%;
  justify-content: center;
  margin: auto;
  background-color: inherit;
}

.session-form{
  display: inline-block;
  justify-content: center;
  width: 100%;
  padding: 0 20px;
  margin-bottom: 9px;
  margin-top: 100px;
  text-align: center;
  font-family: sans-serif;
  font-size: 20px;
}

.session-form input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 3px;
  margin: 0 0 18px;
  border: 1px solid lightgray;
  padding: 9px 9px;
  line-height: 1.3em;
  font-family: inherit;
  font-size: inherit;
}

.title{
  color: #6391db;
  font-size: 30px;
  margin: 15px;
  margin: 15px;
  font-weight: 700;
  font-family: sans-serif;
}

.submit{
  display: block;
  background-color: #6391db;
  border: none;
  border-radius: 3px;
  color: white;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  margin: 20px;
  padding: 15px;
  width: 350px;
  height: 60px;
  cursor: pointer;
}

.submit:hover{
  transition-duration: 1s;
  background-color: #45b6d9;
}

.change-session-form{
  margin: 15px;
  font-weight: 700;
  font-family: sans-serif;
}

.disclamer{
  margin: 15px;
  font-weight: 400;
  font-size: 18px;
  color: #6e6a69;
}

.name-section{
  display: flex;
  width: 101%;
  justify-content: space-between;
}

.user-name{
  display: block;
  width: 97%;
}

.session-link{
 margin-left: 5px;
}

.top{
  margin: 15px;
  font-weight: 700;
  font-family: sans-serif
}

.bottom{
  display: flex;
  justify-content: flex-end;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 18px;
  color: gray;
  margin: 0;
  padding: 0;
}

.bottom-disclamer {
  display: inline-block;
  font-weight: 400;
  font-family: sans-serif;
  font-size: 18px;
  color: gray;
  justify-content: right;
  text-align: left;
  margin-bottom: 15px;
}

.session-line{
  margin: 20px;
  padding-top: 15px;
}