.regions-container{
  display: flex;
  flex-direction: column;
  width: 110%;
  position: relative;
  right: 45px;
  margin-top: 80px;
  margin-bottom: 40px;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.regions-title{
  font-size: 24px;
  color: #67b4e0;
  font-weight: 900;
}

.regions-hr{
  width: 100%;
}

.regions-list{
  width: 800px;
  justify-content: space-around;
  display: flex;
}

.splash-index{
  margin: auto;
}