// Place all the styles related to the StaticPagesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app {
  pointer-events: auto;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
}

