// Place all the styles related to the StaticPagesController controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.app {
  pointer-events: auto;
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  text-decoration: none;
}

li{
  list-style: none;
}
